<div class="coffee-page">
	<div class="fixed">
		
	<div class="toolbar">
		{{#paper-button iconButton=true}}
			{{paper-icon 'menu'}}
		{{/paper-button}}
		<span class="flex"></span>
		<div class="title">{{model.title}}</div>
		<span class="flex"></span>
		{{#paper-button iconButton=true}}
			{{paper-icon 'search'}}
		{{/paper-button}}
	</div>
	</div>

	<div class="coffee-list">
		{{#each model.reviews as |review|}}
			{{review-card review=review}}
		{{/each}}
	</div>
	{{#paper-button primary=true raised=true fab=true class="new-btn"}}
		{{paper-icon 'add'}}
	{{/paper-button}}
	
</div>

